@use "../global/" as *;

.l-header{
  background-color: map-get($color, main);
  height: $header-height;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  @include mq('sp') {
		height: $header-height-sp;
	}
}

.l-header__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.l-header__nav{
  margin-left: auto;
}