@use "../global/" as *;

.p-header-logo {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
	margin: 0;
	line-height: 1;
	height: 80px;

  @include mq('sp') {
		height: auto;
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.p-header-logo__link {
  text-decoration: none;
  transition: font-size 0.3s ease 0s;
}

.p-header-logo__img {
  width: 205px;
  vertical-align: top;

  @include mq('m') {
    width: 180px;
  }

  @include mq('sp') {
    width: 148px;
  }
}

